chnword.xcodeproj/project.xcworkspace/xcshareddata/chnword.xccheckout
chnword.xcodeproj/project.xcworkspace/xcuserdata/Suzic.xcuserdatad/WorkspaceSettings.xcsettings
chnword.xcodeproj/xcuserdata/Suzic.xcuserdatad/xcschemes/chnword.xcscheme
chnword.xcodeproj/xcuserdata/Suzic.xcuserdatad/xcschemes/xcschememanagement.plist
